body{
    font-family: Arial, sans-serif;
    background-color: white;
}

.header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 12px 0;
}
.header h1{
    margin: 0;
    font-size: 24px;
    text-align: middle;
}



.ct{
    text-align: righ;
    margin-top: 40px;
    margin-right: 2px;
    margin-bottom: 10px;
    background-color: lightgoldenrodyellow;
     border: 3px solid white;
    
}
.product{
    display: inline-block;
    width: 200px;
    background-color: lightgrey;
    border: 1px solid #ccc;
    margin: 15px;
    padding: 15px;
    text-align: center;
    
}

.container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.product img {
    width:100px ;
    height: 100px;
}

.product :hover{
    outline:2px solid #333;
    outline-offset: 5px;
}

.price{
    font-weight: bold;
    color: green;

}

a{
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;

}


